/* HOME PAGE */
@import url('fonts.css');
 /* stretches all elements to fill borders */
 * {
    margin: 0;
	}

	body {
		overflow-x: hidden;
	}

	.active_label {
		transition: 0.5s;
		top: -7px!important;
		left: -1px!important;
		font-size: 10px!important;
		color: #bd10e0!important;  
	}

	a:hover { 
		color: inherit!important;
		text-decoration: none!important;
	}

	.progress-bar {
		width: 0%;
		height: 4px;
		background: #b000f3!important;
		z-index: 9999;
	}

	.wrapper-top-line .progress-bar {
		position: fixed;
		top: 90px;
		left: 0;
		width: 0%;
	}

	.section-block-title {
		font-family: PTSans-Bold;
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.6;
		letter-spacing: 0.9px;
		text-align: center;
		color: #ffffff;
	}

	.section-block-content {
		font-family: PTSans-Regular;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.64;
		letter-spacing: 0.7px;
		text-align: justify;
		color: #c9d6e4;
		margin-bottom: 38px;
	}
	
	.btn-style {
		padding: 12px 67px 12px 45px;
		border-image-source: linear-gradient(102deg, #7700ff, #bf00ff);
		border-image-slice: 1;
		background-image: linear-gradient(102deg, #7700ff, #bf00ff);
		color: #fff;
		font-family: PTSans-Regular;
		font-size: 15px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.7px;
		position: relative;
		outline: none;
	}

	.btn-style::after {
		content: '';
		clear: both;
		display: block;
		position: absolute;
		right: 20px;
		top: 15px;
		width: 21px;
		height: 13px;
		background-image: url('../images/shape.png');
	}
  
  .wrapper {
    height: 100vh;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
		perspective: 2px;
		position: relative;
  }
  
  /* logo positioning */
  #logo {
    position: fixed;
    left: 5%;
		top: 36px;
		z-index: 10000;
  }

  .header {
    height: 100vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.header .content-wrap {
		text-align: center;
	}
	.header .content-wrap h1 {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		font-family: Futura-Bold;
		font-size: 77px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 3.7px;
		text-align: center;
		color: #ffffff;
	}

	.header .content-wrap p {
		font-family: PTSans-Regular;
		font-size: 21px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.52;
		letter-spacing: 1px;
		text-align: center;
		color: #ffffff;
	}

	.nav-btn {
		position: fixed;
		top: 5%;
		right: 5%;
		width: 20px;
		height: 16px;
		display: none;
		z-index: 9999;
	}

	.nav-btn img {
		width: 100%;
		cursor: pointer;
	}

	.nav-wrap {
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

  .nav-wrap nav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #51546e;
		z-index: 888;
	}

	.nav-wrap nav.fixed-menu {
		position: fixed;
    top: 0;
    left: 0;
		z-index: 9999;
		height: 90px;
	}
	
	.nav-wrap nav ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 0;
		padding-left: 0;
	}

	.nav-wrap nav ul li {
		list-style-type: none;
		margin-left: 65px;
		padding: 32px 0;
	}

	.nav-wrap nav ul li.active {
		position: relative;
	}

	.nav-wrap nav ul li.active::after {
		content: '';
		display: block;
		clear: both;
		position: absolute;
		bottom: 25px;
		left: -10px;
		height: 4px;
		width: 50%;
		background: #46eec4;
	}

	.nav-wrap nav ul li a {
		opacity: 0.8;
		font-family: PTSans-Bold;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.6px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
	}
  
  .section {
    position: relative;
    height: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: white;
    /* text-shadow: 0 0 5px #000; */
	}

  /* The styling for the animation section. */
  .animation {
		background:#363a4e;
		padding: 85px 0;
		height: auto;
	}

	.animation img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	
	.animation  .anim-section-title {
		width: 272px;
		height: 72px;
		font-size: 23px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.57;
		letter-spacing: 1.4px;
		color: #ffffff;
	}

	.animation  .anim-section-title span:first-child {
		font-family: PTSans-Bold;
	}

	.animation  .anim-section-title span:last-child {
		font-family: PTSans-Regular;
	}

	.animation .section-block-title-1 {
		text-align: left;
		color: #46eec4;
		padding-left: 30px;
		background-image: url('../images/icon1.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 21px 28px;
	}

	.animation .section-block-title-2 {
		text-align: left;
		color: #f0e554;
		padding-left: 30px;
		background-image: url('../images/icon2.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 20px 24px;

	}

	/* The styling for the about us section. */

	.about-us {
		height: auto;
		padding-bottom: 45px;
		background: #5b5e7a;
	}

	.about-us .col-md-6, .about-us .col-lg-3 {
		border: 10px solid #5b5e7a;
	}

	.about-us .title, .our-team .title {
		font-family: PTSans-Bold;
		font-size: 27px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.33;
		letter-spacing: 1.6px;
		color: #ffffff;
		text-transform: uppercase;
		padding: 75px 0 15px 0;
		margin: 0 auto 60px;
		position: relative;
		text-align: center;
	}

	.about-us .title:after, .our-team .title:after {
		content: '';
		display: block;
		clear: both;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -19px;
		width: 38px;
		height: 4px;
		background-color: #b000f3;
	}

	.about-us .title span {
		font-weight: bold;
  	letter-spacing: 1.9px;
	}

	.about-us .block-content {
		border-radius: 1px;
  	background-color: #363a4e;
		height: 100%;
		padding: 35px 32px;
		transition: transform 0.5s;
	}

	.block-content:hover {
		transform: translateY(-20px);
		transition: transform 0.5s;
		border-bottom: 2px solid #46eec4;
	}

	.about-us .block-content img {
		margin: 0 auto;
		max-width: 100%;
	}

	.about-us .block-content img.gray-icon {
		display: block;
	}
	.about-us .block-content img.green-icon {
		display: none;
	}

	.about-us .block-content .section-block-title {
		padding: 15px 0;
	}


	/* The styling for the our team section. */
	.our-team {
		background: #5b5e7a;
		height: auto;
	}

	.our-team .team-block {
		background: #363a4e;
		border: 15px solid #5b5e7a;
		padding-left: 0px!important;
		padding-right: 0px!important;
		text-align: center;
		position: relative;
	}

	.our-team .team-block .hover-block{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(139deg, #7700ff, #bf00ff);
		background-size: cover;
		background-position: 0 0;
		opacity: 0.7;
		transform: scale(0);
	}

	.our-team .team-block .hover-block p {
		padding: 64px 24px 24px 24px;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		font-family: PTSans-Regular;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.64;
		letter-spacing: 0.7px;
		text-align: center;
		color: #ffffff;
	}

	.our-team .team-block .hover-block .social-btn {
		margin-top: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.our-team .team-block .hover-block .social-btn img {
		margin: 0 7px;
		cursor: pointer;
		max-width: 60%;
	}

	.our-team .team-block:hover .hover-block {
		transform: scale(1);
		transition: transform 0.5s;
	}

	.our-team .team-block .team-name {
		padding: 15px 0;
		font-family: PTSans-Bold;
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.6;
		letter-spacing: 0.9px;
		text-align: center;
		color: #fff;
		margin-bottom: 0px;
	}

	.our-team .team-block .team-position {
		font-family: PTSans-Italic;
		font-size: 11px;
		font-weight: normal;
		font-style: italic;
		font-stretch: normal;
		line-height: 2.18;
		letter-spacing: 0.7px;
		text-align: center;
		color: #46eec4;
	}

	.our-team .team-block img {
		width: 100%;
	}

	.maps-section {
		background: #363a4e;
	}

	.maps-section .email-from {
		padding-top: 55px;
		display: flex;
		flex-direction: column;
	}

	.maps-section .email-from .btn-style {
		margin-right: 32%!important;
	}

	.maps-section .email-from p:nth-child(1) {
		font-family: PTSans-Bold;
		font-size: 23px;
		text-align: center;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.57;
		letter-spacing: 1.5px;
		color: #ffffff;
		text-transform: uppercase;
	}

	.maps-section .email-from p:nth-child(2) {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		font-family: PTSans-Bold;
		font-size: 11px;
		text-align: center;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.64;
		letter-spacing: 0.7px;
		color: #c9d6e4;
	}

	.maps-section .email-from p span {
		font-family: PTSans-Regular;
	}

	.maps-section .email-from form .wrap-input {
		position: relative;
	}

	.maps-section .email-from form .wrap-input input {
		background: transparent;
		border: 0px;
		border-bottom: 1px solid rgba(201, 214, 228, 0.26);
		outline: none;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		font-family: PTSans-Regular;
		font-size: 11px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.64;
		letter-spacing: 0.7px;
		color: #ffffff;
		width: 100%;
		margin-bottom: 25px;
	}

	.maps-section .email-from form .wrap-input input:focus {
		border-bottom: 1px solid #fff;
	}

	.maps-section .email-from form .wrap-input input:focus + label {
		transition: 0.5s;
		top: -7px;
		left: -1px;
		font-size: 10px;
		color: #bd10e0;         
	}

	.maps-section .email-from form .wrap-input input:valid + label {
		transition: 0.5s;
		top: -7px;
		left: -1px;
		font-size: 10px;
		color: #bd10e0; 
	}

	.maps-section .email-from form .wrap-input label {
		position: absolute;
		left: 1px;
		top: 1px;
		transition: 0.5s;
		color: #fff;
		font-size: 13px;
	}

	.maps-section .email-from form button {
		outline: none;
		float: right;
		margin: 15px 0 45px 0;
	}



	
  
  /* Sets the actual background images to sections. This part is crucial. */
  .bg1::after {
		background-image: url(../images/hero-area.png);
		background-size: cover;
		background-position: center;
	}
	
	/* .bg2 {
		height: 400px;
		padding: 75px 0;
		text-align: center;
	} */

	.parallax-block {
		height: 400px;
		padding: 75px 0;
		text-align: center;
		display: flex;
    align-items: center;
    justify-content: center;
	}

	.bg2 .content-wrap {
		padding-top: 40px;
	}

	.bg2 .content-wrap h1 {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		font-family: Futura-Bold;
		font-size: 31px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.16;
		letter-spacing: 1.9px;
		text-align: center;
		color: #ffffff;
		padding-bottom: 7px;
	}

	.bg2 .content-wrap p {
		text-shadow: 0 2px 4px #000000;
		font-family: PTSans-Bold;
		font-size: 21px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.86;
		letter-spacing: 1.3px;
		text-align: center;
		color: #ffffff;
		padding-bottom: 10px;
	}
  
  .bg2::after {
		background-image: url(../images/hero-area.jpg);
		background-size: cover;
		background-position: center;
  }
	

	footer {
		padding: 50px 0;
		background: #5b5e7a;
		text-align: center;
	}

	footer .social-btn {
		margin-top: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	footer .social-btn img {
		margin: 0 7px;
		cursor: pointer;
	}

	footer p {
		padding-top: 42px;
		font-family: PTSans-Regular;
		font-size: 9px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.4px;
		text-align: center;
		color: #ffffff;
	}

/* style to second page */

.top-line {
	height: 90px;
	background-color: #51546e;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-line #logo {
	position: relative;
	height: 100%;
	padding-left: 5%;
	left: 0%;
}

.top-line #logo a {
	display: block;
}

.top-line a {
	margin-right: 5%;
	opacity: 0.8;
  font-family: PTSans-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: right;
  color: #ffffff!important;
}

.first-section {
	height: 100vh;
	width: 100%;
}

/* .first-section .wrapper-title {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.first-section .wrapper-title img {
	display: none;
	max-width: 50%;
}

.first-section .wrapper-title .title {
	font-family: PTSans-Bold;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
	color: #fff;
	position: relative;
	padding: 0 12px;
	display: inline-block;
}

.first-section .wrapper-title .title:after {
	content: '';
	display: block;
	clear: both;
	width: 5px;
  height: 25px;
	background-image: linear-gradient(to bottom, #2ce8e9, #14cfa0);
	position: absolute;
	right: 0;
	top: 0;
}

.first-section .wrapper-title .title:before {
	content: '';
	display: block;
	clear: both;
	width: 5px;
  height: 25px;
	background-image: linear-gradient(to bottom, #2ce8e9, #14cfa0);
	position: absolute;
	left: 0;
	top: 0;
}

.first-section .wrapper-title .subtitle {
	font-family: PTSans-Bold;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.64;
	letter-spacing: 0.7px;
	color: #fff;
	position: relative;
	padding: 0 12px;
	display: inline-block;
}

.first-section .wrapper-title .subtitle:after {
	content: '';
	display: block;
	clear: both;
	width: 3px;
  height: 20px;
	background-image: linear-gradient(171deg, #7700ff, #bf00ff);
	position: absolute;
	right: 0;
	top: 0;
}

.first-section .wrapper-title .subtitle:before {
	content: '';
	display: block;
	clear: both;
	width: 3px;
  height: 20px;
	background-image: linear-gradient(171deg, #7700ff, #bf00ff);
	position: absolute;
	left: 0;
	top: 0;
}

.first-section .description, .splaton-section .description, .play-game-section .description, .comments-section .description {
	font-family: PTSans-Bold;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  text-align: justify;
	color: #c9d6e4;
	margin-bottom: 25px;
}

.first-section .description-title{
  font-size: 11px;
}

.first-section .eve-btn1 a {
	background-image: linear-gradient(135deg, #7700ff, #bf00ff);
	padding: 19px 12px;
	border-radius: 50%;
	font-family: PTSans-Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  color: #fff;
}

.first-section .eve-btn2 {
	display: none;
}

.first-section .eve-btn1 span {
	font-family: PTSans-Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  color: #fff;
}
	
.center-class {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.splaton-section {
	padding: 80px 0;
	background-color: #51546e;
}

.splaton-section .description {
	font-size: 11px;
}

.splaton-section .title, .play-game-section .title, .comments-section .title, .disruptors-section .title {
	font-family: PTSans-Regular;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1.6px;
  text-align: center;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.splaton-section .title span, .play-game-section .title span {
	font-family: PTSans-Bold;
}

.splaton-section .title:after, .play-game-section .title:after, .comments-section .title:after, .disruptors-section .title:after {
	content: '';
	display: block;
	clear: both;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 40px;
	margin-left: -20px;
	height: 4px;
	background-color: #b000f3;
}

.splaton-section img {
	display: block;
	margin: 0 auto;
}

.splaton-section .description, .play-game-section .description {
	margin-bottom: 50px;
	text-align: center;
}

.splaton-image-section {
	background-color: #363a4e;
	padding: 60px 0;
}

.splaton-image-section .title {
	font-family: PTSans-Bold;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
	color: #fff;
	position: relative;
	padding: 0 12px;
}

.splaton-image-section .title:before {
	content: '';
	display: block;
	clear: both;
	width: 5px;
  height: 25px;
	background-image: linear-gradient(to bottom, #2ce8e9, #14cfa0);
	position: absolute;
	left: 0;
	top: 0;
}

.splaton-image-section .description {
	font-family: PTSans-Regular;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  color: #c9d6e4;
}

.splaton-image-section .description span {
	color: #f0e554;
}

.splaton-image-section .price-block {
	padding: 24px;
	background: #1C2037;
	width: 100%;
	margin-top: 20px;
}

.splaton-image-section .price-block p {
	font-family: PTSans-Italic;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: #c9d6e4;
}

.splaton-image-section .price-block p:first-child {
	font-family: PTSans-Bold;
	color: #14cfa0;
	margin-bottom: 0;
}

.splaton-image-section .relative-class {
	position: relative;
}

.splaton-image-section .relative-class .popap-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.splaton-image-section .relative-class .popap-img .wrapper-popap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.splaton-image-section .relative-class .popap-img .wrapper-popap .close-button {
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 40px;
	display: block;
}

.splaton-image-section .relative-class .popap-img .wrapper-popap img {
	display: none;
	z-index: 2;
}

.splaton-image-section .relative-class .popap-img .wrapper-popap img.block {
	display: block;
}

.splaton-image-section .price-block p:last-child {
	margin-bottom: 0;
}

.splaton-image-section .image-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.splaton-image-section .image-block img {
	max-width: 50%;
	cursor: pointer;
}

.splaton-image-section .image-block div:first-child, .splaton-image-section .image-block div:last-child {
	display: flex;
	position: relative;
	align-items: flex-end;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover;
	width: 230px;
	height: 200px;
}

.splaton-image-section .image-block div:first-child {
	background-image: url('../images/group-15-copy.png');
}
.splaton-image-section .image-block div:last-child {
	background-image: url('../images/group-15.png');
}

.splaton-image-section .image-block div p {
	font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
	color: #ffffff;
	margin-right: 21%;
	margin-bottom: 20%;
	z-index: 1;
}

.splaton-image-section .image-block img {
	position: absolute;
	bottom: 15%;
	right: 10%;
}

.hero-list {
	position: relative;
	display: flex;
	justify-content:center;
	background-color: #1d2138;
}

.hero-list .hero-list-container {
	display: flex;
	align-items: center;
	justify-content:center; 
}

.hero-list .threeangle {
	position: absolute;
	top: -1px;
	height: 25px;
	border: 50px solid transparent;	border-top: 20px solid #35394d;
}

.hero-list .hero-list-container {
	width: 100%;
}

.hero-list .hero-list-container .sales-text {
	display: flex;
	justify-content: flex-end;
}

.hero-list .hero-list-container .toys {
	padding: 40px 0px 0px 0px;
}
.hero-list .hero-list-container .sales-text .sales-text-container {
	display: flex;
	flex-direction: column;
	font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #c9d6e4;
}

.hero-list .hero-list-container .sales-text .sales-text-container .font-regular {
	font-family: PTSans-Regular;
	font-weight: 100;
}

.hero-list .hero-list-container .sales-text .sales-text-container .padding-top {
	padding-top: 40px;
	padding-right: 60px;
}

.color-green {
	color: #14cfa0;
}

.color-yellow {
	color: #f0e554;
}

.center-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-img img{
	max-width: 100%;
}

.play-game-section {
	padding: 70px 0;
	background-color: #51546e;
}

.play-game-section .description {
	font-size: 11px;
	font-family: PTSans-Regular;
}

.play-game-section .block-img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	background-color: #35394d;
}

.play-game-section .block-img:last-child .info {
	color: #f0e554;
}

.play-game-section .block-img img {
	width: 50%;
}

.play-game-section .block-img .info {
	width: 50%;
	height: 100%;
	padding: 24px;
	box-sizing: border-box;
	font-family: PTSans-Bold;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 0.8px;
  color: #14cfa0;
}

.game-info-section {
	padding: 70px 0;
	background-color: #51546e;
}

.game-info-section p:last-child {
	font-size: 11px;
	line-height: 1.8;
}

.game-info-section .mef .description {
	font-size: 11px;
	text-align: center;
}

.game-info-section .title {
	font-family: PTSans-Bold;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
	color: #ffffff;
	position: relative;
	padding: 0 12px;
	display: inline-block;
	margin-bottom: 30px;
}

.game-info-section .title:before {
	content: '';
	display: block;
	clear: both;
	width: 5px;
  height: 25px;
	background-image: linear-gradient(to bottom, #fff416, #f0c354);
	position: absolute;
	left: 0;
	top: 0;
}

.game-info-section .description {
	font-family: PTSans-Bold;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  color: #c9d6e4;
}

.game-info-section .comment {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.game-info-section .comment span:nth-child(2) {
	text-align: right;
	font-family: PTSans-Bold;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  /* line-height: normal; */
  letter-spacing: 0.8px;
	color: #ffffff;
	margin-left: 8px;
}

.game-info-section .container .mef {
	position: relative;
}

.game-info-section .container .mef .threeangle {
	position: absolute;
	top: -1px;
	height: 25px;
	border: 50px solid transparent;	border-top: 20px solid #51546e;
}

.game-info-section .container .mef .quotes {
	display: flex;
	justify-content: center;
	background-image: linear-gradient(to bottom, #2ce9de, #14cfa0);
  font-family: PTSans;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.1px;
  text-align: right;
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: rotate(180deg);
}

.game-info-section .comment span:nth-child(1) {
	background-image: linear-gradient(to bottom, #2ce9de, #14cfa0);
	font-family: Jua-Regular;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  text-align: right;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-info-section img {
	width: 100%;
}

.game-info-section .container .green {
	color: #14cfb7;
}

.game-info-section .container .mef {
	margin-top: 0px;
	display: flex;
	justify-content: center;
	background-color: #1d2138;
}

.game-info-section .container .mef .mef-img {
	margin: 100px 0px 20px 60px;
	width: 80%;
}

.game-info-section .container .mef .icon {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 57px;
	height: 57px;
}

.m-top {
	margin-top: 40px;
}

.comments-section {
	background-color: #363a4e;
	padding: 50px 0;
}

.comments-section .description {
	font-size: 11px;
}

.comments-section .comment-info, .play-game-section .center-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.comments-section .title {
	font-family: GeezaPro;
}

.comments-section .comment-info .comment-item {
	background: #1C2037;
	padding: 24px 24px 24px 50px;
	width: 100%;
}

.comments-section .wrapper-img1{
	background-image: url('../images/group-11.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 255px;
}

.comments-section .wrapper-img2 {
	background-image: url('../images/group-4-copy.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 255px;
}

.comments-section .comment-info .comment-item p {
	font-family: PTSans-Bold;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  letter-spacing: 0.7px;
	color: #c9d6e4;
	position: relative;
	height: 100%;
	margin-bottom: 0!important;
}

.comments-section .comment-info .comment-item p:before {
	content: '';
	clear: both;
	display: block;
	height: 100%;
	width: 5px;
	background-image: linear-gradient(to bottom, #2ce9de, #14cfa0);
	position: absolute;
	left: -25px;
	top: 0;
}

.comments-section .comment-info .comment-item.other p:before {
	background-image: linear-gradient(to bottom, #fff416, #f0c354);
}

.comments-section .comment-info .comment-item span {
	font-family: PTSans-Bold;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.7px;
	color: #ffffff;
	text-align: right;
	display: block;
}


.type-players-section {
	background-color: #363a4e;
	padding: 75px 0;
}

.type-players-section .description {
	font-size: 11px!important;
}

.type-players-section .col-md-6 {
	padding-bottom: 14px;
	padding-top: 14px;
}

.type-players-section .type-players-img1 {
	background-image: url('../images/ij\ yt\,e.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	display: block;
	min-height: 235px;
}

.type-players-section .type-players-img2 {
	background-image: url('../images/zryt\,enm.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	width: 100%;
	height: 100%;
	min-height: 235px;
}

.type-players-section img {
	width: 100%;
}

.type-players-section .info-block {
	/* height: 100%; */
	background: #1C2037;
	padding: 16px;

}

.type-players-section .info-block p:nth-child(1) {
	font-family: PTSans-Regular;
  font-size: 23px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
	color: #ffffff;
	padding: 0 0 30px 65px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.type-players-section .info-block .title1 {
	background-image: url('../images/icons-8-online-money-transfer-80.png');
}

.type-players-section .info-block .title2 {
	background-image: url('../images/icons-8-offline-80.png');
}

.type-players-section .info-block p:nth-child(1) span {
	font-family: PTSans-Bold;
}

.type-players-section .info-block p:nth-child(2) {
	font-family: PTSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  color: #c9d6e4;
}

.disruptors-section {
	padding: 75px 0;
	background-color: #363a4e;

}

.disruptors-section .description {
	font-size: 11px!important;
}

.disruptors-section .title {
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}

.disruptors-section .description {
	font-family: PTSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  text-align: center;
  color: #c9d6e4;
}

.slide-show-section {
	padding: 20px 75px;
	background-color: #51546e;
}

.slide-show-section .description {
	font-size: 11px!important;
}

.slide-show-section .title {
	font-family: PTSans-Bold;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
	color: #ffffff;
	position: relative;
	padding: 0 12px;
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 25px;
}

.slide-show-section .title:before {
	content: '';
	display: block;
	clear: both;
	width: 5px;
  height: 25px;
	background-image: linear-gradient(to bottom, #2ce9de, #14cfa0);
	position: absolute;
	left: 0;
	top: 0;
}

.slide-show-section .description {
	font-family: PTSans-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 0.7px;
  color: #c9d6e4;
}

.slide-show-section .description.bg {
	background-image: url('../images/combined-shape.png');
	background-repeat: repeat-x;
	background-position: 0 bottom;
	padding-bottom: 25px;
}